name: Update README with Blog Posts

on:
  schedule:
    - cron: "0 12 * * *" # Runs at 12:00 PM UTC every day
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - uses: dagger/dagger-for-github@8.0.0

      - name: Fetch RSS feeds and Update README file
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: dagger call update-readme --gitToken=env:GITHUB_TOKEN
